<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>Отправить</title>
</head>
<body>
<section class="container">
    <div class="columns">
        <div class="column">
            <form id="soapForm">
                <div class="field">
                    <textarea class="textarea">
<soap:Envelope>
    <soap:Header/>
    <soap:Body>
        <PostPersonRequest>
            <name>
                <firstname>Алексей</firstname>
                <surname>Судничников</surname>
                <patronymic>Валентинович</patronymic>
            </name>
            <gender>male</gender>
            <age>32</age>
        </PostPersonRequest>
    </soap:Body>
</soap:Envelope>
                    </textarea>
                </div>
                <div class="field">
                    <button class="button is-primary is-light is-fullwidth" type="submit">Отправить</button>
                </div>
            </form>
            <div id="responseField">
            </div>
        </div>
    </div>
</section>
<script src="static/js/sendForm.js"></script>
</body>
</html>
